<?xml version="1.0" encoding="UTF-8"?>

<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

<servlet>

<servlet-name>Login</servlet-name>

<servlet-class>code.serv.Login</servlet-class>

</servlet>


<servlet>

<servlet-name>AddNotice</servlet-name>

<servlet-class>code.serv.AddNotice</servlet-class>

</servlet>


<servlet>

<servlet-name>Logout</servlet-name>

<servlet-class>code.serv.Logout</servlet-class>

</servlet>


<servlet>

<servlet-name>ChangePass</servlet-name>

<servlet-class>code.serv.ChangePass</servlet-class>

</servlet>


<servlet>

<servlet-name>Authentication</servlet-name>

<servlet-class>code.serv.Authentication</servlet-class>

</servlet>


<servlet>

<servlet-name>ChangemyRole</servlet-name>

<servlet-class>code.serv.ChangemyRole</servlet-class>

</servlet>


<servlet>

<servlet-name>SubmitRequest</servlet-name>

<servlet-class>code.serv.SubmitRequest</servlet-class>

</servlet>


 <servlet>

<servlet-name>Register</servlet-name>

<servlet-class>code.serv.Register</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Login</servlet-name>

<url-pattern>/Login</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>AddNotice</servlet-name>

<url-pattern>/AddNotice</url-pattern>

</servlet-mapping>

<servlet-mapping>

<servlet-name>Logout</servlet-name>

<url-pattern>/Logout</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>ChangePass</servlet-name>

<url-pattern>/ChangePass</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>Authentication</servlet-name>

<url-pattern>/Authentication</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>ChangemyRole</servlet-name>

<url-pattern>/ChangemyRole</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>SubmitRequest</servlet-name>

<url-pattern>/SubmitRequest</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>Register</servlet-name>

<url-pattern>/Register</url-pattern>

</servlet-mapping>


<session-config>

<session-timeout> 30 </session-timeout>

</session-config>


<welcome-file-list>

<welcome-file>homepage_1.jsp</welcome-file>

</welcome-file-list>

</web-app>